footer.bg-dark.text-center.text-white
    section.mb-4
        p  Clase 10 - Ejemplo Ejs 
    .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
        | Coderhouse:
        a.text-white(href='https://www.coderhouse.com.uy/') www.coderhouse.com