nav.navbar.navbar-expand-lg.navbar-light.bg-light
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item(class='navbar-nav mr-auto')
        a.nav-link(href='/form') Ingresar producto
      li.nav-item
        a.nav-link(href='/productos') Ver productos