<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">Proyecto final: tercer entrega</h1>
        <p class="lead">En contrucción...</p>
        <hr class="my-4">
        <p>Un menú de registro y autenticación de usuarios basado en passport local,
            guardando en la base de datos las credenciales y el resto de los datos ingresados al momento del
            registro.
        </p>
        <ul>
            <li>El registro de usuario consiste en crear una cuenta en el servidor almacenada en la base de
                datos, que contenga el email y password de usuario, además de su nombre, dirección, edad,
                número de teléfono (debe contener todos los prefijos internacionales) y foto ó avatar.
                La contraseña se almacenará encriptada en la base de datos.
            </li>
            <li>

                La imagen se podrá subir al servidor y se guardará en una carpeta pública del mismo a la cual se
                tenga acceso por url.

            </li>
        </ul>

        <p>
            Un formulario post de registro y uno de login. De modo que,
            luego de concretarse cualquiera de estas operaciones en forma exitosa,
            el usuario accederá a su home.
        </p>

        <ul>
            <li>
                El usuario se logueará al sistema con email y password y tendrá acceso a un menú en su vista, a
                modo de barra de navegación.
                Esto le permitirá ver los productos totales con los filtros que se hayan implementado y su
                propio carrito de compras e información propia (datos de registro con la foto).
                Además, dispondrá de una opción para desloguearse del sistema.
            </li>
            <li>
                Ante la incorporación de un usuario, el servidor enviará un email al administrador con todos los
                datos de registro y asunto 'nuevo registro',
                a una dirección que se encuentre por el momento almacenada en una constante global.
            </li>
        </ul>

        <p>
            Envío de un email y un mensaje de whatsapp al administrador desde el servidor, a un número de contacto
            almacenado en una constante global.
        </p>
        <ul>
            <li>
                El usuario iniciará la acción de pedido en la vista del carrito.
            </li>
            <li>
                Será enviado una vez finalizada la elección para la realizar la compra de productos.
            </li>
            <li>
                El email contendrá en su cuerpo la lista completa de productos a comprar y en el asunto la frase 'nuevo
                pedido de ' y el nombre y email del usuario que los solicitó.
                En el mensaje de whatsapp se debe enviar la misma información del asunto del email.
            </li>
            <li>
                El usuario recibirá un mensaje de texto al número que haya registrado, indicando que su pedido ha sido
                recibido y se encuentra en proceso.
            </li>
        </ul>

        <p>
            Aspectos a incluir:
        </p>
        <ul>
            <li>
                El servidor trabajará con una base de datos DBaaS (Ej. MongoDB Atlas) y estará preparado para trabajar
                en forma local o en la nube a través de la plataforma PaaS Heroku.
            </li>
            <li>
                Habilitar el modo cluster para el servidor, como opcional a través de una constante global.
            </li>
            <li>
                Utilizar alguno de los loggers ya vistos y así reemplazar todos los mensajes a consola por logs
                eficientes hacia la misma consola. En el caso de errores moderados ó graves el log tendrá además como
                destino un archivo elegido.
            </li>
            <li>
                Realizar una prueba de performance en modo local, con y sin cluster, utilizando Artillery en el endpoint
                del listado de productos (con el usuario vez logueado). Verificar los resultados.
            </li>
        </ul>
    </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>