{{> head }}
<div class="container">

  {{> header}}
  <h3>Alumnos de la comisión {{comision}}</h3>

  <main>

    <div class="jumbotron">
      <h1> Curso de programación NodeJs</h1>
      <h2>
        {{title}}
      </h2>
    </div>

    <div>
      <h4> Curso de programación NodeJs</h4>
      <p>
        {{content}}
      </p>
    </div>

  </main>

  {{> footer}}

</div>