<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>

    <header>
        <%- include('./partials/headerLog', {current: `#`}) %>
    </header>

    <div class="jumbotron">
        <main>
            <div class="jumbotron">
                <h1 class="display-4">Bienvenido...</h1>
                <p>
                    <%= userLog.username %>
                </p>
            </div>
        </main>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>