<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">Desafío 22: Reformar para usar GraphQL</h1>
        <p class="lead">En contrucción...</p>
        <hr class="my-4">
        <p>
            Consigna
        </p>

        <ul>
            <li>
                En base al último proyecto entregable de servidor API RESTful, reformar la capa de routeo y el
                controlador para que los requests puedan ser realizados a través del lenguaje de query GraphQL.
            </li>
            <li>
                Si tuviésemos un frontend, reformarlo para soportar GraphQL y poder dialogar apropiadamente con el
                backend y así realizar las distintas operaciones de pedir, guardar, actualizar y borrar recursos.
            </li>
            <li>
                Utilizar GraphiQL para realizar la prueba funcional de los querys y las mutaciones.
            </li>
        </ul>


    </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>