<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">Desafío 21: Testeamos nuestra API REST</h1>
        <p class="lead">En contrucción...</p>
        <hr class="my-4">
        <p>
            Consigna:
        </p>
        <ul>
            <li>
                Revisar en forma completa el proyecto entregable que venimos realizando, refactorizando y reformando
                todo lo necesario para llegar al esquema de servidor API RESTful en capas planteado en esta clase.
            </li>

            <li>
                Asegurarse de dejar al servidor bien estructurado con su ruteo / controlador, negocio, validaciones,
                persistencia y configuraciones (preferentemente utilizando en la codificación clases de ECMAScript).
            </li>

            <li>
                o hace falta realizar un cliente ya que utilizaremos tests para verificar el correcto funcionamiento de
                las funcionalidades desarrolladas.
            </li>

            <li>
                Desarrollar un cliente HTTP de pruebas que utilice Axios para enviar peticiones, y realizar un test de
                la funcionalidad hacia la API Rest de productos, verificando la correcta lectura de productos
                disponibles, incorporación de nuevos productos, modificación y borrado.
            </li>

            <li>
                Realizar el cliente en un módulo independiente y desde un código aparte generar las peticiones
                correspondientes, revisando los resultados desde la base de datos y en la respuesta del servidor
                obtenida en el cliente HTTP.
            </li>

            <li>
                Luego, realizar las mismas pruebas, a través de un código de test apropiado, que utilice mocha, chai y
                Supertest, para probar cada uno de los métodos HTTP de la API Rest de productos.
            </li>

            <li>
                Escribir una suite de test para verificar si las respuestas a la lectura, incorporación, modificación y
                borrado de productos son las apropiadas. Generar un reporte con los resultados obtenidos de la salida
                del test.
            </li>

        </ul>
    </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>