<footer id="footer" class="footer-1">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Programación backend - Coderhouse - NodeJs - Gastón Barlocco</p>
                </div>
            </div>
        </div>
    </div>
</footer>