<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">Desafío 23: Reformar para usar otro framework</h1>
        <p class="lead">En contrucción...</p>
        <hr class="my-4">
        <p>
            Consigna
        </p>

        <ul>
            <li>
                Elegir uno de los frameworks vistos en clase y trasladar a esta nueva plataforma el último proyecto entregable (con GraphQL) o al anterior (sin GraphQL).
            </li>
            <li>
                Verificar el correcto funcionamiento del servidor a nivel de sus rutas, vistas, lógica de negocio y persistencia.
            </li>
        </ul>


    </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>